<div class="parallax-container">
	<div class="parallax"><img src="/images/castelo2.jpg"></div>
</div>
<div class="section white">
	<div class="row container">
		<h2 class="header">Pastelaria Anjo Doce</h2>
		<p class="grey-text text-darken-3 lighten-3">Avenida dos Bombeiros nยบ XXXX, Montemor-o-velho</p>
		<p class="grey-text text-darken-3 lighten-3">3140-250</p>
		<p class="grey-text text-darken-3 lighten-3">239689651</p>
		<p class="grey-text text-darken-3 lighten-3">Email</p>
	</div>
</div>
<div class="parallax-container">
	<div class="parallax"><img src="https://cdn.viralagenda.com/images/temp/7072a5a5ff053808eef1ed5fdf724036.jpg"></div>
</div>

<script>
	$(document).ready(function(){
      $('.parallax').parallax();
    });
</script>